#front-card__orb {
    width: calc(100% - 100px);
    padding: 25px;
    box-sizing: border-box;
    margin: 50px;

    /*background-color: #7c7c7c55;*/
    background-image: url("/res/cave.png");
    background-size: cover;
}

#orb-canvas, #game__orb {
    width: 100%;
}

#game__orb {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
}

#front-card__orb-edit {
    position: absolute;
    transform: translateY(-55px);

    border: 2px solid transparent;
    background-color: #888b;
    border-radius: 5px;
    padding: 10px;

    width: 30px;
    height: 30px;
}

#front-card__orb-edit:hover {
    border: 2px solid #555;
    cursor: pointer;
}

#front-card__orb-edit > img {
    filter: invert(0.2);
    width: 100%;
    height: 100%;
}