#studio {
    display: none;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1000;

    background-image: url("/res/studio.png");
    background-repeat: repeat;
    background-size: 5s0px;
}

#studio-orb {
    width: 600px;
    height: 600px;
}

#studio-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.studio-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.studio-option-left, .studio-option-right {
    background-image: url("/res/arrow.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.studio-option-right {
    transform: scaleX(-1);
}

.studio-option-left:active {
    transform: scale(96%);
}

.studio-option-right:active {
    transform: scaleX(-96%) scaleY(96%);
}


#studio-close {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 70px;
    height: 70px;

    border: 2px solid transparent;
    background-color: #888b;
    border-radius: 5px;
    padding: 10px;
}

#studio-close > img {
    width: 100%;
    height: 100%;
}

#studio-close:hover {
    border: 2px solid #555;
    cursor: pointer;
}

#studio-orb-flip {
    text-align: center;

    color: white;
    background-color: #222;
    border: 3px solid white;
    border-radius: 15px;

    width: 150px;
    padding: 5px 10px;
    margin: auto;
    
    user-select: none;
    cursor: pointer;
}

#studio-orb-flip:active {
    transform: scale(96%);
}